.container{width: 100%;}
/******************************************************************************/
/*****            Navigation Bar                                         ******/
/******************************************************************************/
<!--
#gnav{height:36px; width:100%; background-color:#cc4545;}