.tt{color: brown; font-size: larger;}
.tw{color:blue  ; font-size: x-large; }
.fd310 a:link    {color:blue}
.fd310 a:visited {color:blue}
.fd310 a:hover {color:green}
/*************************************************************/
/** CSS for Update or Edit Div      Oct.29 , 2020         ****/
/*************************************************************/
div.petty {background-color: cornsilk; padding-left: 200px; }
div.petty label {font-weight: bold;}
div.petty input.prinf1{display: block; border: 0px;
           background-color: whitesmoke;
           width: 280x;
           padding: 8px;}
div.petty table {float:center ; width: 50%;}
div.petty td {padding: 6px; text-align: left; 50%;}        