#wapper {float:left; width: 100%; margin-top: 0px; padding: 0px; background-color: #ffffff;}
#banner {height:50px; font-size:26px; padding: 18px; background-color:#eed; }
#main {position:relative;width:1600px; min-height: 720px; background-color:#c2d4de; 
		text-align:left; margin-top: 0px; }
#footer {background-color:#5E6472; min-height: 60px; text-align: center; font-size: 20px;
            color: #FFFAFA; padding-top: 8px; }
#app {background-color:#ececaa; }
.myDiv {
    background-color: #3d3d3d;
    padding: 4px;
    color: #a8a8a8;    
    text-align: center;
}
.myDiv1 {
    border: 3px outset #6a6aac; padding:3px;   background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
    text-align: center;
} 
/******************************************************************************/
/*****            Navigation Bar                                         ******/
/******************************************************************************/
<!--
#gnav{height:36px; width:100%; background-color:#cc4545; text-align: center; }
#nav { float:right;  margin-right: 216px; line-height: 36px;
        list-style-type: none; background-color:#cc4545;  } 
#nav a { display: block; width: 110px; text-align:center; } 
#nav a:link     { color:#fff; text-decoration:none; font-weight:bold; font-size: 18px; } 
#nav a:visited  { color:#fff; text-decoration:none; font-weight:bold; font-size: 18px; } 
#nav a:hover    { color:#FFF; text-decoration:none; font-weight:bold; font-size: 18px; } 

#nav li { float: left; width: 120px; ackground-color:#cc4545; } 
#nav li a:hover{ ackground-color:#cc4545; } 

#nav li ul { line-height: 27px; list-style-type: none;text-align:left; 
left: -999em; width: 180px; position: absolute; } 

#nav li ul li{ float: left; width: 180px; background: #F6F6F6; } 
#nav li ul a{ 
display: block; width: 156px;text-align:left;padding-left:24px; 
} 
#nav li ul a:link { 
color:#666; text-decoration:none; 
} 
#nav li ul a:visited { 
color:#666;text-decoration:none; 
} 
#nav li ul a:hover { 
color:#F3F3F3;width: 156px; text-decoration:none;font-weight:normal; 
background:#C00; 
} 
#nav li:hover ul { left: auto; } 
#nav1 li:hover ul { left: auto; } 
#nav li.sfhover ul { 
left: auto; 
} 
-->  
/*****************************************************/
/***   CSS Flexbox     V3.02  July 4 ,2020        ****/
/*****************************************************/     
.flexb1    {display:flex;  flex-wrap: wrap; justify-content: flex-start;
    background-color:#556B77;}
.flexb1 > div {
background-color: #f6f6f6;
width: 398px;
margin: 1px;
text-align: center;
line-height:80px;
font-weight: bold;
font-size: 16px;
}  
.flexb1 img { width: 360px; }
.imgs {min-height:320px; }
/*****************************************************/     
.flexb2    {display:flex;  flex-wrap: wrap; justify-content: flex-start;
    background-color:#556B77; flex-direction: column; }
.flexb2 > div {
display:flex;
justify-content: center;
background-color: #f6f6f6;
margin: 1px;
text-align: center;
line-height:30px;
font-weight: bold;
font-size: 16px;
}  
.flexb2 img { width: 500px; }
.imgs {min-height:320px; }
.det1{flex:8; background-color: #f6f6e6; }
.det2{flex:8; background-color: #f6e9f6;  padding-left: 8px; 
text-align: left; font-size: 20px; }
.content1 {font-size: 14px; font-weight: normal;margin-top: 10px; border-top: 1px solid #868686;  }       
.det3{flex:3; color: rgb(216, 111, 13); background-color: #f6f6f6;}
/*****************************************************/            